article {
  display: inline-grid;
  grid-template-columns: auto ;
}

.section {
  display: inline-grid;
  grid-template-columns: 1fr auto auto auto auto auto auto;
}

section {
  margin-left: 10px;
}

.grid-inner {
  display: inline-block;
  margin-top: 8px;
}

.grid-inner-title {
  display: inline-block;
  margin-top: 15px;
}

.secure{
  max-width: 55px;
}

.config-copy-button {
  margin-bottom: 1rem;
}
