mat-form-field {
  padding: 0 5px;
}

.grid-inner {
  display: inline-block;
  margin-top: 8px;
}

.grid-inner-title {
  display: inline-block;
  margin-top: 15px;
}

.dragHandler {

}

.dragHandler {
  cursor: move;
}

.continue-label {
  display: inline-block;
  margin-left: 10px;
  background-color: #e9e9e9;
  padding: 0 7px;
  border-radius: 20px;
  line-height: 23px;
}

.continue-box {
  margin: 0 6px 15px;
  display: inline-block;
}

.inline-action{
  max-width: 70px;
}

.expanded {
  width: 230px;
}

.mat-progress-bar {
  display: block;
  height: 2px;
  top: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  transition: opacity 250ms linear;
  width: 100%;
  z-index: 1000;
}
