<app-service-status></app-service-status>
@if (userService.isAuthenticated && !login) {
  <app-header [currentComponent]="currentComponent"
  (showRightSideNav)="toggleRightSideNav()"
  (toggleMenu)="toggleNavigation()"></app-header>
}
<mat-sidenav-container class="sidenav-container" [autosize]="true">
  <mat-sidenav [mode]="compact() ? 'over' : 'side'"
    [opened]="userService.isAuthenticated && !login && (compact() ? menuOpen : true)"
    [class.sidenav-collapsed]="!compact() && !menuOpen"
    (openedChange)="onNavigationOpenedChange($event)">
    <mat-nav-list>
      <div class="menu-sidenav">
        <app-sidenav [collapsed]="!compact() && !menuOpen"></app-sidenav>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    @if (userService.isAuthenticated && !login) {
      @if (showRightNav) {
        <app-conversations (closeConversations)="showRightNav = false"></app-conversations>
      }
    }
    <main class="app-main">
      <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
