<app-service-status></app-service-status>
@if (userService.isAuthenticated && !login) {
  <app-header [currentComponent]="currentComponent"
  (showRightSideNav)="toggleRightSideNav($event)"></app-header>
}
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" [opened]="userService.isAuthenticated && !login">
    <mat-nav-list>
      <div class="menu-sidenav">
        <app-sidenav></app-sidenav>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    @if (userService.isAuthenticated && !login) {
      <div [hidden]="!showRightNav">
        <app-conversations></app-conversations>
      </div>
    }
    <div [hidden]="showRightNav">
      <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
