article {
  display: inline-grid;
  grid-template-columns: auto ;
}

.section {
  display: inline-grid;
  grid-template-columns: 1fr auto auto auto auto auto auto;
}

.grid-inner {
  display: inline-block;
  margin-top: 8px;
}

.grid-inner-title {
  display: inline-block;
  margin-top: 15px;
}


