<app-inner-header name="Post Load Modules" [loadCounter]="loadCounter()"></app-inner-header>
@if (list()) {
  <section class="cpbx-card">
    <header class="cpbx-card__header">
      <div class="cpbx-card__subtitle">Modules</div>
    </header>
    <div class="cpbx-card__content">
      <h3>Load:</h3>
      <app-key-value-pad-2 [exist]="list().modules"
                           [items]="list().modules"
                           [newItems]="list().newModules"
                           [id]="null"
                           [toCopy]="null"
                           [dispatchersCallbacks]="globalSettingsDispatchers"
                           [fieldsMask]="globalSettingsMask"
      >
      </app-key-value-pad-2>
    </div>
  </section>
}


