.fs-cli-card {
  background: #fff;
  border-radius: var(--cpbx-panel-radius);
  margin: var(--cpbx-page-gutter);
  min-height: 18rem;
  padding: 1px 0 1rem;
}

.term-field {
  background-color: black;
  color: #efefef;
  font: 1.3rem Inconsolata, monospace;
  min-height: 30px;
  padding: 20px;
  line-height: 30px;
  width: fit-content;
  min-width: 97%;
}

.term-body {
  margin: 0;
}

