@if (loadCounter() > 0) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<mat-toolbar color="basic">
  <span>FS_CLI</span>
</mat-toolbar>
<div>
  <div class="filter-container">
    <mat-form-field hideRequiredMarker>
      <mat-label>Value</mat-label>
      <input matInput name="value" [ngModel]="command()" (ngModelChange)="command.set($event)"
        appResizeInput
        [resizeOnString]="command()" required
        (keyup.enter)="runCommand()"
        >
      </mat-form-field>
      <button mat-raised-button color="basic" class="but-spacer-left switch-button" [disabled]="!command()"
        (click)="runCommand()">
        Run Command
      </button>
    </div>
    @if (list().fsCliData) {
      <div class="term-field">
        <pre class="term-body">{{list().fsCliData}}</pre>
      </div>
    }
  </div>
