<mat-progress-bar mode="indeterminate" *ngIf="loadCounter > 0"></mat-progress-bar>
<mat-toolbar>
  <span>FS_CLI</span>
</mat-toolbar>
<div>
  <div class="filter-container">
    <mat-form-field hideRequiredMarker>
        <mat-label>Value</mat-label>
        <input matInput name="value" [(ngModel)]="command"
             appResizeInput
             [resizeOnString]="command" required
             (keyup.enter)="runCommand()"
      >
    </mat-form-field>
    <button mat-raised-button color="basic" class="but-spacer-left switch-button" [disabled]="!command"
            (click)="runCommand()">
      Run Command
    </button>
  </div>
  <div class="term-field" *ngIf="list.fscliData">
    <pre class="term-body">{{list.fscliData}}</pre>
  </div>
</div>
