<!--section class="main-content-wrapper" cdkDrag cdkDragBoundary="body"-->
<section class="main-content-wrapper" cdkDrag>
  <mat-toolbar [color]="headerColor()" role="heading" class="header" cdkDragHandle>
    Phone
    <span class="example-spacer"></span>
    @if (!isClientConnected()) {
      <mat-icon color="warn">wifi_off</mat-icon>
    }
    @if (isSipJsTransportConnected()) {
      <button class="reg-button" mat-mini-fab [color]="!registered() && libName === sipjsLib ? 'warn' : 'green'" [title]="!registered() && libName === sipjsLib ? 'enter calls' : 'leave calls'" aria-label="register" (click)="register()" [disabled]="!isSipJsTransportConnected()">
        @if (!registered() && libName === sipjsLib) {
          <mat-icon>phone_callback</mat-icon>
        }
        @if (registered() && libName === sipjsLib) {
          <mat-icon>phone_disabled</mat-icon>
        }
      </button>
    }
    <button mat-icon-button (click)="restartUS()" title="restart phone">
      <mat-icon>autorenew</mat-icon>
    </button>
  </mat-toolbar>
  @if (authorizationUsername()) {
    <section id="main-content" class="animated fadeInUp">
      <mat-form-field class="number-field">
        <mat-label>Number</mat-label>
        <input matInput [ngModel]="number()" (ngModelChange)="number.set($event)" name="Number" name="number">
        @if (number()) {
          <button mat-icon-button matSuffix aria-label="Delete" (click)="removeLastDigit()" class="dialpad-button-remove">
            <mat-icon>chevron_left</mat-icon>
          </button>
        }
        <button mat-icon-button matSuffix (click)="switchHideButtonsPad()" title="dialpad" aria-label="dialpad">
          <mat-icon>dialpad</mat-icon>
        </button>
      </mat-form-field>
      <h3 class="timer mat-headline-3">{{totalTime() | formatTimer}}</h3>
      @if (showButtonsPad) {
        <div class="buttons-pad">
          @for (but of padButtons; track but) {
            <button (click)="phoneButton(but)" class="phone-digit-button">{{ but }}</button>
          }
        </div>
      }
      <div class="actions-buttons-pad">
        @if (!(inCall() || ringing() || answered())) {
          <button mat-flat-button (click)="call()"
            color="primary" title="call"
            class="phone-action-button"
            [disabled]="!isClientConnected() || !number()"
            >
            <mat-icon>phone</mat-icon><span>Call</span>
          </button>
        }
        @if (ringing()) {
          <button mat-flat-button (click)="answer()"
            color="green" title="answer" class="phone-action-button"
            [disabled]="!isClientConnected()"
            >
            <span>Answer: </span><span style="font-size: 20px">{{ data.session?.request?.from?.uri?.user }}</span>
          </button>
        }
        @if (inCall() || ringing() || answered()) {
          <button mat-flat-button (click)="hangup()"
            color="warn" class="phone-action-button"
            [disabled]="!isClientConnected()"
            >
            <mat-icon>call_end</mat-icon><span>Hangup</span>
          </button>
        }
        @if (answered() && !onHold()) {
          <button mat-flat-button (click)="hold()"
            title="hold" class="phone-action-button mat-blue"
            [disabled]="!isClientConnected()"
            >
            <mat-icon>phone_paused</mat-icon><span>Hold</span>
          </button>
        }
        @if (answered() && onHold()) {
          <button mat-flat-button (click)="unhold()"
            title="unhold" class="phone-action-button mat-blue"
            [disabled]="!isClientConnected()"
            >
            <mat-icon>play_arrow</mat-icon><span>Unhold</span>
          </button>
        }
      </div>
    </section>
  }
  @if (!authorizationUsername()) {
    <section>
      <mat-toolbar color="warn" role="heading" class="header">No creds</mat-toolbar>
    </section>
  }
  <div id="mediaTags" #mediaTags>
    <audio id="remoteTag" autoplay #remoteTag></audio>
    <audio id="localTag" muted="muted" #localTag></audio>
  </div>
</section>
