<app-inner-header name="Amrwb" [loadCounter]="loadCounter()"></app-inner-header>
<app-module-not-exists-banner [list]="list()"></app-module-not-exists-banner>
@if (list() && list().exists !== false) {
  <section class="cpbx-card">
    <header class="cpbx-card__header">
      <div class="cpbx-card__subtitle">Settings</div>
    </header>
    <div class="cpbx-card__content">
      <h3>Params:</h3>
      <app-key-value-pad-2 [exist]="list().settings"
                           [items]="list().settings"
                           [newItems]="list().settings?.new"
                           [id]="null"
                           [toCopy]="null"
                           [dispatchersCallbacks]="globalSettingsDispatchers"
      >
      </app-key-value-pad-2>
    </div>
  </section>
}
