<mat-toolbar color="primary" class="app-toolbar" role="banner">
  <button mat-icon-button (click)="toggleMenu.emit()" matTooltip="Toggle navigation" aria-label="Toggle navigation">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="brand" routerLink="/dashboard" aria-label="CustomPBX dashboard">
    <img class="brand-logo" src="./assets/img/logo-small.png" alt="">
    <span class="brand-name">CustomPBX</span>
  </a>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="showHideConversations()" matTooltip="Conversations" aria-label="Open conversations">
    <mat-icon>question_answer</mat-icon>
  </button>
  <button mat-icon-button (click)="showHidePhone()" matTooltip="Phone" aria-label="Toggle phone">
    <mat-icon>phone</mat-icon>
  </button>
  <button mat-icon-button (click)="cloneComponent()" [disabled]="!currentComponent"
    matTooltip="Duplicate current view" aria-label="Duplicate current view">
    <mat-icon>filter_2</mat-icon>
  </button>
  @if (user?.group_id === 1) {
    <button mat-icon-button [routerLink]="['/settings']" matTooltip="Settings" aria-label="Open settings">
      <mat-icon>settings</mat-icon>
    </button>
  }
  <div class="user-block">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Open user menu">
      @if (!user.avatar_format) {
        <mat-icon>face</mat-icon>
      }
      @if (user.avatar_format) {
        <img class="avatar-img"
          [src]="'./assets/img/avatar/' + user.id + '.' + user.avatar_format" alt="">
        }
      </button>
      <span class="user-name">{{user.login}}</span>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
      </button>
      @if (user?.group_id === 1) {
        <button mat-menu-item [routerLink]="['/settings']">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
      }
      <button mat-menu-item (click)="logOut()">
        <mat-icon>keyboard_tab</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <div [hidden]="hidePhone">
    @if (startPhone) {
      <app-phone></app-phone>
    }
  </div>

  <ng-container #componentContainer></ng-container>
