<app-inner-header name="Callcenter" [loadCounter]="loadCounter()"></app-inner-header>
<app-module-not-exists-banner [list]="list()"></app-module-not-exists-banner>
@if (list() && list().exists !== false) {
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [(selectedIndex)]="selectedIndex" (selectedIndexChange)="mainTabChanged($event)"
    >
    <mat-tab label="List">
      <mat-card>
        <mat-card-content>
          @if (list() && list().queues) {
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedIndexChange)="tabChanged($event)">
              <mat-tab label="Queues">
                @for (item of onlyValues(list().queues); track trackByFnId($index, item)) {
                  <div class="panel-wrapper">
                    <mat-expansion-panel (opened)="GetCallcenterQueuesParams(item.id)"
                      [expanded]="panelCloser['queue' + item.id]">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{item.name}}
                        </mat-panel-title>
                        <mat-panel-description>
                          Click to get details
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      @if (list().queues[item.id] && (list().queues[item.id].parameters)) {
                        <button mat-raised-button color="basic" (click)="copyQueue(item.id)"
                          >Copy
                        </button>
                      }
                      <h3>Params:</h3>
                      <app-key-value-pad-2 [exist]="item.parameters"
                        [items]="item.parameters"
                        [newItems]="item.parameters?.new"
                        [id]="item.id"
                        [toCopy]="toCopyqueue"
                        [dispatchersCallbacks]="queueParamDispatchers"
                        >
                      </app-key-value-pad-2>
                    </mat-expansion-panel>
                  </div>
                }
              </mat-tab>
              <mat-tab label="Agents">
                @if (!list()?.agents?.total && filters.length == 0) {
                  <mat-card>
                    <mat-card-actions>
                      There no any agents. You can start creating them and tiers or import while module is loaded.
                      <button mat-raised-button color="basic" class="but-spacer-left switch-button"
                        (click)="ImportCallcenterAgentsAndTiers()">
                        Import
                      </button>
                    </mat-card-actions>
                  </mat-card>
                }
                <div>
                  <div class="filter-container">
                    <button mat-raised-button color="basic" class="but-spacer-left switch-button"
                      (click)="GetCallcenterAgents()">
                      Get List
                    </button>
                  </div>
                  <div class="filter-container">
                    <mat-form-field hideRequiredMarker>
                      <mat-label>Field</mat-label>
                      <mat-select [(ngModel)]="filter.field" [disabled]="!columns()" disableOptionCentering>
                        <mat-option [value]="null">
                          ---
                        </mat-option>
                        @for (val of columns(); track val) {
                          <mat-option [value]="val">
                            {{val}}
                          </mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field hideRequiredMarker>
                      <mat-label>Operand</mat-label>
                      <mat-select [(ngModel)]="filter.operand" [disabled]="!filter.field" disableOptionCentering>
                        @for (val of operands; track val) {
                          <mat-option [value]="val">
                            {{val}}
                          </mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field hideRequiredMarker>
                      <mat-label>Value</mat-label>
                      <input matInput name="value" [(ngModel)]="filter.field_value" [disabled]="!filter.operand"
                        required>
                      </mat-form-field>
                      @if (!filters[toEditAgentFilter]) {
                        <button mat-raised-button color="basic" class="but-spacer-left switch-button"
                          [disabled]="!this.filter.operand || !this.filter.field"
                          (click)="addFilter()">
                          Add filter
                        </button>
                      }
                      @if (filters[toEditAgentFilter]) {
                        <button mat-raised-button color="accent" class="but-spacer-left switch-button"
                          [disabled]="!this.filter.operand || !this.filter.field"
                          (click)="saveFilter()">
                          Edit filter
                        </button>
                      }
                      <mat-form-field hideRequiredMarker class="checkbox-spacer-left">
                        <mat-label>Field</mat-label>
                        <mat-select [(ngModel)]="sortColumns" [disabled]="!columns()" disableOptionCentering>
                          <mat-option [value]="null">
                            ---
                          </mat-option>
                          @for (val of columns(); track val) {
                            <mat-option [value]="val">
                              {{val}}
                            </mat-option>
                          }
                        </mat-select>
                      </mat-form-field>
                      <mat-checkbox [(ngModel)]="sortObject.desc" class="checkbox-spacer-left"
                        [disabled]="sortObject.fields.length == 0 && !sortColumns">DESC
                      </mat-checkbox>
                      <button mat-raised-button color="basic" class="but-spacer-left switch-button"
                        [disabled]="!sortColumns"
                        (click)="addSorter()">
                        Add sorting
                      </button>
                    </div>
                    <div class="chips-pad">
                      <mat-chip-listbox aria-label="Filter selection">
                        @for (filterItem of filters; track filterItem; let i = $index) {
                          <mat-chip color="accent"
                            (click)="editFilter(i)"
                            [selectable]="true"
                            [removable]="true"
                            (removed)="removeFilter(filterItem)"
                            selected>
                            {{filterItem.field}} {{filterItem.operand}} {{filterItem.field_value}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                          </mat-chip>
                        }
                        @if (sortObject.fields.length > 0) {
                          <mat-chip color="primary"
                            [selectable]="true"
                            [removable]="true"
                            (removed)="clearSorting()"
                            selected>
                            <span>ORDER BY </span>
                            @for (sort of sortObject.fields; track sort; let i = $index) {
                              <span>{{sort}}@if (i < sortObject.fields.length - 1) {
                                <i
                                >,</i>
                              } </span>
                            }
                            @if (sortObject.desc) {
                              <span>DESC</span>
                            }
                            @if (!sortObject.desc) {
                              <span>ASC</span>
                            }
                            <mat-icon matChipRemove>cancel</mat-icon>
                          </mat-chip>
                        }
                      </mat-chip-listbox>
                    </div>
                    @if (list().agents && isArray(list().agents.table)) {
                      <div class="table-container">
                        <table mat-table class="full-width-table" [dataSource]="list().agents.table">
                          @for (disCol of columns(); track disCol; let colIndex = $index) {
                            <ng-container matColumnDef="{{disCol}}">
                              <th mat-header-cell *matHeaderCellDef  (click)="filter.field = disCol" class="spacer table-cell">{{disCol}}</th>
                              <td mat-cell
                                [class]="'cells-main spacer table-cell'"
                                [ngClass]="{'warn-cell': disCol === 'contact' && element['contact'] === '', 'input-cell-changed': list().changed.agents[element['id']] && list().changed.agents[element['id']][disCol], 'input-cell': toEdit[element['id']] === disCol }"
                                *matCellDef="let element"
                                (click)="toInput(element['id'], disCol)"
                                (mouseover)="showDelIco(element['id'])"
                                (mouseleave)="leaveDelIco(element['id'])"
                                >
                                @if (disCol === 'id' && showDel()[element['id']]) {
                                  <mat-icon #delIco color="warn" class="del-ico"
                                    (click)="DelCallcenterAgent(element['id'], element['name'])">delete_outline
                                  </mat-icon>
                                }
                                <span [class]="'plain-cell-text'" [ngClass]="{'to-hide': toEdit[element['id']] === disCol}">{{element[disCol]}}</span>
                                @if (toEdit[element['id']] === disCol) {
                                  <input matInput
                                    class="table-input"
                                    [placeholder]="disCol"
                                    [(ngModel)]="element[disCol]"
                                    [title]="disCol"
                                    (keydown.enter)="UpdateCallcenterAgent(element['id'], disCol, element[disCol]);"
                                    (change)="markChanged(element['id'], disCol)"
                                    appAutoFocus
                                    >
                                }
                                <!--<mat-icon #editIco class="edit-ico" color="primary" *ngIf="toEdit[element['id']] === disCol" aria-hidden="false" aria-label="Edit">edit</mat-icon>-->
                              </td>
                            </ng-container>
                          }
                          <tr mat-header-row *matHeaderRowDef="columns(); sticky: true"></tr>
                          <tr mat-row *matRowDef="let row; columns: columns()"></tr>
                        </table>
                      </div>
                    }
                    @if (list().agents?.total > 0) {
                      <mat-paginator
                        [length]="list().agents?.total"
                        [pageIndex]="pageEvent.pageIndex"
                        [pageSize]="pageEvent.pageSize"
                        [pageSizeOptions]="paginationScale"
                        (page)="pageEvent = $event; GetCallcenterAgents()"
                        >
                      </mat-paginator>
                    }
                  </div>
                </mat-tab>
                <mat-tab label="Tiers">
                  @if (!list()?.tiers?.total && tiersFilters.length == 0) {
                    <mat-card>
                      <mat-card-content>
                        There no any tiers. You can start creating them and agents or import while module is loaded.
                        <button mat-raised-button color="basic" class="but-spacer-left switch-button"
                          (click)="ImportCallcenterAgentsAndTiers()">
                          Import
                        </button>
                      </mat-card-content>
                    </mat-card>
                  }
                  <div>
                    <div class="filter-container">
                      <button mat-raised-button color="basic" class="but-spacer-left switch-button"
                        (click)="GetCallcenterTiers()">
                        Get List
                      </button>
                    </div>
                    <div class="filter-container">
                      <mat-form-field hideRequiredMarker>
                        <mat-label>Field</mat-label>
                        <mat-select [(ngModel)]="tiersFilter.field" [disabled]="!tiersColumns()" disableOptionCentering>
                          <mat-option [value]="null">
                            ---
                          </mat-option>
                          @for (val of tiersColumns(); track val) {
                            <mat-option [value]="val">
                              {{val}}
                            </mat-option>
                          }
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field hideRequiredMarker>
                        <mat-label>Operand</mat-label>
                        <mat-select [(ngModel)]="tiersFilter.operand" [disabled]="!tiersFilter.field" disableOptionCentering>
                          @for (val of operands; track val) {
                            <mat-option [value]="val">
                              {{val}}
                            </mat-option>
                          }
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field hideRequiredMarker>
                        <mat-label>Value</mat-label>
                        <input matInput name="value" [(ngModel)]="tiersFilter.field_value" [disabled]="!tiersFilter.operand"
                          required>
                        </mat-form-field>
                        @if (!filters[toEditTierFilter]) {
                          <button mat-raised-button color="basic" class="but-spacer-left switch-button"
                            [disabled]="!this.tiersFilter.operand || !this.tiersFilter.field"
                            (click)="tiersAddFilter()">
                            Add filter
                          </button>
                        }
                        @if (filters[toEditTierFilter]) {
                          <button mat-raised-button color="accent" class="but-spacer-left switch-button"
                            [disabled]="!this.tiersFilter.operand || !this.tiersFilter.field"
                            (click)="saveTierFilter()">
                            Edit filter
                          </button>
                        }
                        <mat-form-field hideRequiredMarker class="checkbox-spacer-left">
                          <mat-label>Field</mat-label>
                          <mat-select [(ngModel)]="tiersSortColumns" [disabled]="!tiersColumns()" disableOptionCentering>
                            <mat-option [value]="null">
                              ---
                            </mat-option>
                            @for (val of tiersColumns(); track val) {
                              <mat-option [value]="val">
                                {{val}}
                              </mat-option>
                            }
                          </mat-select>
                        </mat-form-field>
                        <mat-checkbox [(ngModel)]="tiersSortObject.desc" class="checkbox-spacer-left"
                          [disabled]="tiersSortObject.fields.length == 0 && !tiersSortColumns">DESC
                        </mat-checkbox>
                        <button mat-raised-button color="basic" class="but-spacer-left switch-button"
                          [disabled]="!tiersSortColumns"
                          (click)="tiersAddSorter()">
                          Add sorting
                        </button>
                      </div>
                      <div class="chips-pad">
                        <mat-chip-listbox aria-label="Filter selection">
                          @for (filterItem of tiersFilters; track filterItem; let i = $index) {
                            <mat-chip color="accent"
                              (click)="editTierFilter(i)"
                              [selectable]="true"
                              [removable]="true"
                              (removed)="tiersRemoveFilter(filterItem)"
                              selected>
                              {{filterItem.field}} {{filterItem.operand}} {{filterItem.field_value}}
                              <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                          }
                          @if (tiersSortObject.fields.length > 0) {
                            <mat-chip color="primary"
                              [selectable]="true"
                              [removable]="true"
                              (removed)="tiersClearSorting()"
                              selected>
                              <span>ORDER BY </span>
                              @for (sort of tiersSortObject.fields; track sort; let i = $index) {
                                <span>{{sort}}@if (i < tiersSortObject.fields.length - 1) {
                                  <i
                                  >,</i>
                                } </span>
                              }
                              @if (tiersSortObject.desc) {
                                <span>DESC</span>
                              }
                              @if (!tiersSortObject.desc) {
                                <span>ASC</span>
                              }
                              <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                          }
                        </mat-chip-listbox>
                      </div>
                      @if (list().tiers && isArray(list().tiers.table)) {
                        <div class="table-container">
                          <table mat-table class="full-width-table" [dataSource]="list().tiers.table">
                            @for (disCol of tiersColumns(); track disCol; let colIndex = $index) {
                              <ng-container matColumnDef="{{disCol}}">
                                <th mat-header-cell *matHeaderCellDef  (click)="tiersFilter.field = disCol" class="spacer table-cell">{{disCol}}</th>
                                <td mat-cell
                                  [class]="'cells-main spacer table-cell'"
                                  [ngClass]="{'input-cell-changed': list().changed.tiers[element['id']] && list().changed.tiers[element['id']][disCol], 'input-cell': toEditTier[element['id']] === disCol }"
                                  *matCellDef="let element"
                                  (click)="toInputTier(element['id'], disCol)"
                                    (mouseover)="showDelIco(element['id'])"
                                    (mouseleave)="leaveDelIco(element['id'])"
                                >
                                  @if (disCol === 'id' && showDel()[element['id']]) {
                                    <mat-icon #delIco color="warn" class="del-ico"
                                      (click)="DelCallcenterTier(element['id'], element['id'])">delete_outline
                                    </mat-icon>
                                  }
                                  <span [class]="'plain-cell-text'" [ngClass]="{'to-hide': toEditTier[element['id']] === disCol}">{{element[disCol]}}</span>
                                  @if (toEditTier[element['id']] === disCol) {
                                    <input matInput
                                      class="table-input"
                                      [placeholder]="disCol"
                                      [(ngModel)]="element[disCol]"
                                      [title]="disCol"
                                      (keydown.enter)="UpdateCallcenterTier(element['id'], disCol, element[disCol]);"
                                      (change)="markChangedTier(element['id'], disCol)"
                                      appAutoFocus
                                      >
                                  }
                                  <!--<mat-icon #editIco class="edit-ico" color="primary" *ngIf="toEdit[element['id']] === disCol" aria-hidden="false" aria-label="Edit">edit</mat-icon>-->
                                </td>
                              </ng-container>
                            }
                            <tr mat-header-row *matHeaderRowDef="tiersColumns(); sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: tiersColumns()"></tr>
                          </table>
                        </div>
                      }
                      @if (list().tiers?.total > 0) {
                        <mat-paginator
                          [length]="list().tiers?.total"
                          [pageIndex]="tiersPageEvent.pageIndex"
                          [pageSize]="tiersPageEvent.pageSize"
                          [pageSizeOptions]="paginationScale"
                          (page)="tiersPageEvent = $event; GetCallcenterTiers()"
                          >
                        </mat-paginator>
                      }
                    </div>
                  </mat-tab>
                  <mat-tab label="Members">
                    <div class="filter-container">
                      <button mat-raised-button color="basic" class="but-spacer-left switch-button"
                        (click)="GetCallcenterMembers()">
                        Get List
                      </button>
                    </div>
                    <div class="filter-container">
                      <mat-form-field hideRequiredMarker>
                        <mat-label>Field</mat-label>
                        <mat-select [(ngModel)]="membersFilter.field" [disabled]="!membersColumns()" disableOptionCentering>
                          <mat-option [value]="null">
                            ---
                          </mat-option>
                          @for (val of membersColumns(); track val) {
                            <mat-option [value]="val">
                              {{val}}
                            </mat-option>
                          }
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field hideRequiredMarker>
                        <mat-label>Operand</mat-label>
                        <mat-select [(ngModel)]="membersFilter.operand" [disabled]="!membersFilter.field" disableOptionCentering>
                          @for (val of operands; track val) {
                            <mat-option [value]="val">
                              {{val}}
                            </mat-option>
                          }
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field hideRequiredMarker>
                        <mat-label>Value</mat-label>
                        <input matInput name="value" [(ngModel)]="membersFilter.field_value" [disabled]="!membersFilter.operand"
                          required>
                        </mat-form-field>
                        @if (!filters[toEditMemberFilter]) {
                          <button mat-raised-button color="basic" class="but-spacer-left switch-button"
                            [disabled]="!this.membersFilter.operand || !this.membersFilter.field"
                            (click)="membersAddFilter()">
                            Add filter
                          </button>
                        }
                        @if (filters[toEditMemberFilter]) {
                          <button mat-raised-button color="accent" class="but-spacer-left switch-button"
                            [disabled]="!this.membersFilter.operand || !this.membersFilter.field"
                            (click)="saveMemberFilter()">
                            Edit filter
                          </button>
                        }
                        <mat-form-field hideRequiredMarker class="checkbox-spacer-left">
                          <mat-label>Field</mat-label>
                          <mat-select [(ngModel)]="membersSortColumns" [disabled]="!membersColumns()" disableOptionCentering>
                            <mat-option [value]="null">
                              ---
                            </mat-option>
                            @for (val of membersColumns(); track val) {
                              <mat-option [value]="val">
                                {{val}}
                              </mat-option>
                            }
                          </mat-select>
                        </mat-form-field>
                        <mat-checkbox [(ngModel)]="membersSortObject.desc" class="checkbox-spacer-left"
                          [disabled]="membersSortObject.fields.length == 0 && !membersSortColumns">DESC
                        </mat-checkbox>
                        <button mat-raised-button color="basic" class="but-spacer-left switch-button"
                          [disabled]="!membersSortColumns"
                          (click)="membersAddSorter()">
                          Add sorting
                        </button>
                      </div>
                      <div class="chips-pad">
                        <mat-chip-listbox aria-label="Filter selection">
                          @for (filterItem of membersFilters; track filterItem; let i = $index) {
                            <mat-chip color="accent"
                              (click)="editMemberFilter(i)"
                              [selectable]="true"
                              [removable]="true"
                              (removed)="membersRemoveFilter(filterItem)"
                              selected>
                              {{filterItem.field}} {{filterItem.operand}} {{filterItem.field_value}}
                              <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                          }
                          @if (membersSortObject.fields.length > 0) {
                            <mat-chip color="primary"
                              [selectable]="true"
                              [removable]="true"
                              (removed)="membersClearSorting()"
                              selected>
                              <span>ORDER BY </span>
                              @for (sort of membersSortObject.fields; track sort; let i = $index) {
                                <span>{{sort}}@if (i < membersSortObject.fields.length - 1) {
                                  <i
                                  >,</i>
                                } </span>
                              }
                              @if (membersSortObject.desc) {
                                <span>DESC</span>
                              }
                              @if (!membersSortObject.desc) {
                                <span>ASC</span>
                              }
                              <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                          }
                        </mat-chip-listbox>
                      </div>
                      @if (list().members && isArray(list().members.table)) {
                        <div class="table-container">
                          <table mat-table class="full-width-table" [dataSource]="list().members.table">
                            @for (disCol of membersColumns(); track disCol; let colIndex = $index) {
                              <ng-container matColumnDef="{{disCol}}">
                                <th mat-header-cell *matHeaderCellDef  (click)="membersFilter.field = disCol" class="spacer table-cell">{{disCol}}</th>
                                <td mat-cell
                                  [class]="'cells-main spacer table-cell'"
                                  *matCellDef="let element"
                                    (mouseover)="showDelIco(element['uuid'])"
                                    (mouseleave)="leaveDelIco(element['uuid'])"
                                >
                                  @if (disCol === 'uuid' && showDel()[element['uuid']]) {
                                    <mat-icon #delIco color="warn" class="del-ico"
                                      (click)="DelCallcenterMember(element['uuid'])">delete_outline
                                    </mat-icon>
                                  }
                                  <span [class]="'plain-cell-text'">{{element[disCol]}}</span>
                                </td>
                              </ng-container>
                            }
                            <tr mat-header-row *matHeaderRowDef="membersColumns(); sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: membersColumns()"></tr>
                          </table>
                        </div>
                      }
                      @if (list()?.members?.total > 0) {
                        <mat-paginator
                          [length]="list()?.members?.total"
                          [pageIndex]="membersPageEvent.pageIndex"
                          [pageSize]="membersPageEvent.pageSize"
                          [pageSizeOptions]="paginationScale"
                          (page)="membersPageEvent = $event; GetCallcenterMembers()"
                          >
                        </mat-paginator>
                      }
                    </mat-tab>
                    <mat-tab label="Queues commands">
                      <div class="panel-wrapper panel-wrapper-top">
                        <h3>Queues:</h3>
                        <article>
                          @for (queue of onlyValues(list().queues); track trackByFnId($index, queue)) {
                            <div class="section">
                              <section class="mat-subheading-1">
                                <span class=" grid-inner-title">{{queue.name}}</span>
                              </section>
                              <section>
                                <button mat-raised-button color="basic" class="but-spacer-left switch-button grid-inner"
                                  (click)="queueCommand(queue.id, 0, 'load')">
                                  Load
                                </button>
                              </section>
                              <section>
                                <button mat-raised-button color="basic" class="but-spacer-left switch-button grid-inner"
                                  (click)="queueCommand(queue.id, 0, 'load')">
                                  Reload
                                </button>
                              </section>
                              <section>
                                <button mat-raised-button color="basic" class="but-spacer-left switch-button grid-inner"
                                  (click)="queueCommand(queue.id, 0, 'load')">
                                  Unload
                                </button>
                              </section>
                            </div>
                          }
                        </article>
                      </div>
                    </mat-tab>
                    <mat-tab label="Global Settings">
                      <mat-card>
                        <mat-card-header>
                          <mat-card-subtitle> Global Settings</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <h3>Params:</h3>
                          <app-key-value-pad-2 [exist]="list().settings"
                            [items]="list().settings"
                            [newItems]="list().settings?.new"
                            [id]="null"
                            [toCopy]="null"
                            [dispatchersCallbacks]="globalSettingsDispatchers"
                            >
                          </app-key-value-pad-2>
                        </mat-card-content>
                      </mat-card>
                    </mat-tab>
                  </mat-tab-group>
                }
              </mat-card-content>
            </mat-card>
          </mat-tab>
          <mat-tab label="Add">
            <form class="spacer spacerb" (ngSubmit)="AddCallcenterQueue()">
              <mat-form-field hideRequiredMarker>
                <mat-label>Queue Name</mat-label>
                <input matInput placeholder="New queue name" required name="name" [(ngModel)]="newQueueName">
              </mat-form-field>
              <button mat-raised-button color="primary" type="submit" [disabled]="!newQueueName">Submit</button>
            </form>
            <form class="spacer spacerb" (ngSubmit)="AddCallcenterAgent()">
              <mat-form-field hideRequiredMarker>
                <mat-label>New Agent Name</mat-label>
                <input matInput placeholder="New agent name" name="name" [(ngModel)]="newAgentName" required>
              </mat-form-field>
              <button mat-raised-button color="primary" type="submit" [disabled]="!newAgentName">Submit</button>
            </form>
            <form class="spacer spacerb" (ngSubmit)="AddCallcenterTier()">
              <mat-form-field hideRequiredMarker>
                <mat-label>Queue</mat-label>
                <mat-select required name="queue" [(ngModel)]="queueId" disableOptionCentering>
                  @for (val of onlyValues(list().queues); track trackByFnId($index, val)) {
                    <mat-option [value]="val.id">
                      {{val.name}}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <mat-form-field hideRequiredMarker>
                <mat-label>Tier Agent Name</mat-label>
                <input matInput placeholder="agent name" name="name" [(ngModel)]="agentName" required>
              </mat-form-field>
              <button mat-raised-button color="primary" type="submit" [disabled]="!queueId || !agentName">Submit</button>
            </form>
          </mat-tab>
          <mat-tab label="Delete/Rename">
            <form class="spacer spacerb" #deleteForm="ngForm">
              <h3>Queues:</h3>
              @if (list().queues) {
                <div>
                  @for (queue of onlyValues(list().queues); track trackByFnId($index, queue)) {
                    <div>
                      <mat-form-field hideRequiredMarker>
                        <mat-label>Queue name</mat-label>
                        <input matInput name="Queue name" required [ngModel]="queue.name"
                          [name]="'queue::' + queue.id">
                        </mat-form-field>
                        <button mat-button color="accent" [disabled]="checkDirty(deleteForm.controls['queue::' + queue.id])"
                          (click)="openBottomSheetQueue(queue.id, deleteForm.controls['queue::' + queue.id].value, list().queues[queue.id].name, 'rename')">
                          Update
                        </button>
                        <button mat-raised-button color="warn"
                          (click)="openBottomSheetQueue(queue.id, deleteForm.controls['queue::' + queue.id].value, list().queues[queue.id].name, 'delete')">
                          Delete
                        </button>
                      </div>
                    }
                  </div>
                }
              </form>
            </mat-tab>
          </mat-tab-group>
        }
