.full-width-table {
  width: 100%;
  box-shadow: none;
}

.table-container {
  height: 70vh;
}

td {
  min-width: 50px;
  padding-right: 5px;
}

td.mat-cell {
  padding-right: 5px;
}

th.mat-header-cell {
  padding-right: 20px;
}

.table-container {
  overflow: auto;
}

.get-button {
  margin: 20px 0 10px 20px;
  display: inline-table;
}

.filter-container {
  margin: 20px 0 10px 20px;
  display: inline-table;
}

mat-form-field {
  margin-left: 20px;
}

.but-spacer-left {
  margin-left: 5px;
}

.checkbox-spacer-left {
  margin-left: 20px;
}

.chips-pad {
  margin: 4px;
}

.warn-sign {
  margin: 5px 0;
  max-width: 300px;
}

.save-but {
  margin: 10px;
}

th {
  cursor: pointer;
}

th:hover {
  color: #3a3a3a;
}

/*styles for accordion*/
/*
.mat-accordion .mat-header-row {
  padding-left: 1.5rem;
  padding-right: 2rem;
  border-bottom: none;
}

.mat-expansion-panel-header.mat-row {
  border-bottom: none;
}

.mat-table {
  display: block;
}

.mat-header-row {
  min-height: 56px;
}

.mat-row {
  min-height: 48px;
}

.mat-row, .mat-header-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  padding: 0 24px;
  box-sizing: border-box;
}

.mat-cell, .mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}

.mat-cell, .mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}
*/

/*styles for accordion END*/

.chosen {
  background-color: #6ce4d9 !important;
}

article {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
}

section {
  display: block;
}

.flow {
  max-height: 100vh;
  overflow: auto;
}

.msg {
  font-family: monospace;
  margin: 1em 0px;
  max-width: 50vw;
  white-space: pre-line;
}

.pad {
  grid-column: 1 / span 2;
}
