<app-inner-header name="Global Variables" [loadCounter]="loadCounter()"></app-inner-header>
@if (list() && ObjLength(list()) == 0) {
  <mat-card>
    <mat-card-content>
      No global variables set in database you can import them from freeswitch instance
      <button mat-stroked-button color="basic" class="switch-button"
              (click)="ImportGlobalVariables()">
        Import
      </button>
    </mat-card-content>
  </mat-card>
} @else {
<mat-card>
  <mat-card-content>
    <h3>
      ⚠ Local vars.xml will be overwritten.
    </h3>
    <form #details="ngForm">
      <h3>Global Variables:</h3>
      @if (list()) {
        <div cdkDropList
             (cdkDropListDropped)="dropAction($event, onlySortedValues(list()))">
          @for (variable of onlySortedValues(list()); track variable.id) {
            <div class="cpbx-edit-row" cdkDrag>
              @if (variable.id && !isArray(variable)) {
                <ng-container>
                  <mat-icon class="dragHandler" cdkDragHandle>unfold_more</mat-icon>
                  <label class="cpbx-field cpbx-field--md">
<span class="cpbx-label">Name</span>
<input name="name" [(ngModel)]="variable.name" required [disabled]="!variable.enabled || variable.dynamic" [name]="'variableName' + variable.id" appResizeInput [resizeOnString]="variable.name" placeholder="Name" class="cpbx-input">
</label>
                  <label class="cpbx-field cpbx-field--wide">
<span class="cpbx-label">Value</span>
<input name="value" [(ngModel)]="variable.value" required [disabled]="!variable.enabled || variable.dynamic" [name]="'variableValue' + variable.id" appResizeInput [resizeOnString]="variable.value" placeholder="Value" class="cpbx-input">
</label>
                  <label class="cpbx-field cpbx-field--sm">
<span class="cpbx-label">Type</span>
<select class="cpbx-select" [(ngModel)]="variable.type" [disabled]="!variable.enabled || variable.dynamic" [name]="'variableType' + variable.id">
<option [ngValue]="null" disabled hidden>Type</option>
                      @for (val of variableTypes; track $index) {
                        <option [ngValue]="val">
                          {{val}}
                        </option>
                      }
                    </select>
</label>
                  <button mat-flat-button color="primary" type="button"
                          [disabled]="!isReadyToSendThree(details.controls['variableName' + variable.id], details.controls['variableValue' + variable.id], details.controls['variableType' + variable.id]) || variable.dynamic"
                          (click)="updateGlobalVariable(variable)">
                    Update
                  </button>
                  <button *ngIf="variable.enabled" mat-stroked-button color="basic" type="button"
                          [disabled]="variable.dynamic"
                          class="switch-button" (click)="switchGlobalVariable(variable)">
                    Disable
                  </button>
                  <button *ngIf="!variable.enabled" mat-stroked-button color="primary" type="button"
                          [disabled]="variable.dynamic"
                          class="switch-button" (click)="switchGlobalVariable(variable)">
                    Enable
                  </button>
                  <button mat-stroked-button color="warn" type="button" (click)="deleteGlobalVariable(variable)"
                          [disabled]="variable.dynamic">
                    Delete
                  </button>
                </ng-container>
              }
            </div>
          }
          @if (list()) {
            <div>
              @for (variable of newList(); track $index; let i = $index) {
                <div class="cpbx-edit-row">
                  @if (variable) {
                    <ng-container>
                      <label class="cpbx-field cpbx-field--md">
<span class="cpbx-label">Name</span>
<input name="name" [(ngModel)]="variable.name" required [name]="'newName' + i" appResizeInput [resizeOnString]="variable.name" placeholder="Name" class="cpbx-input">
</label>
                      <label class="cpbx-field cpbx-field--wide">
<span class="cpbx-label">Value</span>
<input name="value" [(ngModel)]="variable.value" required [name]="'newValue' + i" appResizeInput [resizeOnString]="variable.value" placeholder="Value" class="cpbx-input">
</label>
                      <label class="cpbx-field cpbx-field--sm">
<span class="cpbx-label">Type</span>
<select class="cpbx-select" [(ngModel)]="variable.type" [name]="'newType' + i">
<option [ngValue]="null" disabled hidden>Type</option>
                          @for (val of variableTypes; track $index) {
                            <option [ngValue]="val">
                              {{val}}
                            </option>
                          }
                        </select>
</label>
                      <button mat-flat-button color="primary" type="button"
                              [disabled]="!isReadyToSendThree(details.controls['newValue' + i], details.controls['newName' + i], details.controls['newNodeDomain' + i])"
                              (click)="newGlobalVariable(i, details.controls['newName' + i].value, details.controls['newValue' + i].value, details.controls['newType' + i].value)">
                        Update
                      </button>
                      <button mat-stroked-button color="warn" type="button" (click)="dropNewGlobalVariable(i)">
                        Delete
                      </button>
                    </ng-container>
                  }
                </div>
              }
            </div>
          }
        </div>
      }
      <button mat-flat-button color="primary" type="button" (click)="addNewGlobalVariable()">
        Add
      </button>
    </form>
  </mat-card-content>
</mat-card>
}


