.grid-container {
  margin: 20px;
}
.main-panel {
  display: grid;
  grid-gap: 20px;
  grid-template-columns:  repeat(3, [col] 32.6% );
  grid-template-rows: 370px;
}
.one-col {
  grid-column: 1;
}
.two-cols {
  grid-column: 1 / 3;
}
.dashboard-card {
  height: 100%;
  overflow: auto;
}
/*
.dashboard-card-content {
  position: relative;
  width: 100%;
}*/
.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.numberCircle {
/*  border-radius: 50%;
  width: 140px;
  height: 140px;
  padding: 14px;
  background: #fff;
  border: 6px solid #3f51b5;*/
  color: #b2b2ff;
  text-align: center;
  font: 70px Arial, sans-serif;
  position: relative;
  margin: auto;
}

.numberAnswered {
  color: #ff91a1;
  text-align: center;
  font: 62px Arial, sans-serif;
  position: relative;
  margin: auto;
}

table {
  width: 100%;
  box-shadow: none;
}
/*

mat-card {
  overflow: visible;
}
*/

.not-started {
  background-color: #ffe2e9;
}

.calls-block {
  margin-top: 60px;
  font-size: 24px;
  font-weight: bold;
}
