<div class="center">
  <div class="second">
    <img class="logo-big" src="./assets/img/logo-big.png" alt="logo">

    <form class="login-form" (ngSubmit)="onSubmit()" ngNativeValidate>
      <mat-form-field class="login-full-width" hideRequiredMarker>
        <input
          matInput
          [(ngModel)]="user.login"
          name="login"
          placeholder="Login"
          value=""
          required
          >
        </mat-form-field>

        <mat-form-field class="login-full-width" hideRequiredMarker>
          <input
            matInput
            [(ngModel)]="user.password"
            name="password"
            type="password"
            placeholder="Password"
            required
            autocomplete="off"
            >
          </mat-form-field>

          <button mat-flat-button type="submit" color="basic">Login</button>
        </form>
        @if (userService.errorMessage) {
          <div>
            <div>
              {{userService.errorMessage}}
            </div>
          </div>
        }
      </div>
    </div>
