.but-spacer-left {
  margin-left: 5px;
}

mat-form-field {
  padding: 0 5px;
}

.spacerb {
  margin-top: 15px;
}

.panel-wrapper {
  padding-left: 5px;
  padding-right: 5px;
}

.panel-wrapper-top {
  padding-top: 5px;
}

.panel-wrapper:last-child {
  padding-bottom: 5px;
}

article {
  display: inline-grid;
  grid-template-columns: auto ;
}

.section {
  display: inline-grid;
  grid-template-columns: 1fr auto auto auto auto auto auto;
}

section {
  margin-left: 10px;
}

.grid-inner {
  display: inline-block;
  margin-top: 8px;
}

.grid-inner-title {
  display: inline-block;
  margin-top: 15px;
}

.mat-expansion-panel {
  border-radius: 0;
}

.mat-expansion-panel-header {
  border-radius: 0;
}


.secure{
  max-width: 55px;
}

